  <!-- File Name: bottom_nav.ejs
   Name: Sorada Prathan
   Student ID: 301270677
   Date: February 18, 2023
 -->
  <!-- Bootom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text"> <em>&copy; Copyright 2023 Sorada Prathan All Rights Reserved.</em></h6>
    </nav>
  </footer>