<!-- File Name: header.ejs
   Name: Sorada Prathan
   Student ID: 301270677
   Date: February 02, 2023
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> </title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/js/bootstrap.bundle.min.js" />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css" />
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css">
  <link rel="stylesheet" href="/mdbootstrap/css/style.css"> -->
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>