<!-- File Name: projects.ejs
   Name: Sorada Prathan
   Student ID: 301270677
   Date: February 02, 2023
 -->

<!-- Projects Content section -->
<%  if (title == "Projects") { %> 
    <div class="container">
        <div class=" text-center">
            <h1 class="anima mx-auto d-block"><span class="title-text"> <%= title %> <span></h1>

          <!-- Start card -->
          <div class="container mt-2 m-auto">
              <div class="row">
                <div class="col-md-3 col-lg-6 item">
                  <div class="card item-card card-block">
                  <h4 class="card-title text-right"><i class="fa-sharp fa-solid fa-gear"></i></h4>
                <img class="img-project" src="/Assets\images/project1.png" alt="Project1">
                    <h5 class="card-title mt-3 mb-3 ">Project Management System • Java Programmer</h5>
                    <p class="card-text text-justify"> This is a project that developed to manage project information for internal project used at TEAM Consulting Enginnering and Management Co., Ltd.</p> 
                    <div class="text-info font-weight-bold">
                      <ul class="card-project-list">
                        <li class="card-li-project">JAVA</li>
                        <li class="card-li-project">J2EE</li>
                        <li class="card-li-project">MS SQL</li>
                      </ul>
                    </div>
                    
                    
              </div>
                </div>
                <div class="col-md-3 col-lg-6 item">
                  <div class="card item-card card-block">
                  <h4 class="item-card-title text-right"><i class="fa-sharp fa-solid fa-gear"></i></h4>
                <img class="img-project" src="/Assets\images/project2.png" alt="Project2">
                    <h5 class="card-title mt-3 mb-3 ">Litigation and Enforcement Management System • Java Programmer</h5>
                    <p class="card-text text-justify">This is a web development project module in the Digital Student Loan Fund System (DSL) system for Krungthai Bank. I have Developed front-end and back-end on this project.</p> 
                    <div class="text-info font-weight-bold">
                      <ul class="card-project-list">
                        <li class="card-li-project">VueJS</li>
                        <li class="card-li-project">RESTFUL API</li>
                        <li class="card-li-project">SPRING MVC</li>
                      </ul>
                    </div>
              </div>
                </div>



                <div class="col-md-3 col-lg-6 item">
                  <div class="card item-card card-block">
                  <h4 class="item-card-title text-right"><i class="fa-sharp fa-solid fa-gear"></i></h4>
                <img class="img-project" src="/Assets\images/project4.png" alt="Project4">
                    <h5 class="card-title  mt-3 mb-3">Determining the best-fit programmers using Bayes’ theorem and artificial neural network • Researcher</h5>
                    <p class="card-text text-justify">This is a research project to developed the best-fit programmer prediction model to evaluate 10 performance attributes. This model incorporates the Bayes’ Theorem and uses Artificial Neural Network (ANN) with Multilayer Perceptron (MLP) algorithm to predict the most suitable candidates for appointment as programmers.</p> 
                    <div class="text-info font-weight-bold">
                      <ul class="card-project-list" style="padding-top:50px;" >
                        <li class="card-li-project">MATLAB</li>
                        <li class="card-li-project">ANN</li>
                        <li class="card-li-project">Bayes’ Theorem </li>
                      </ul>
                    </div>
                  </div>
                </div>  

                <div class="col-md-3 col-lg-6 item ">
                    <div class="card item-card card-block">
                      <h4 class="item-card-title text-right"><i class="fa-sharp fa-solid fa-gear"></i></h4>
                      <img class="img-project" src="/Assets\images/project3.jpg" alt="Project3">
                      <h5 class="card-title mt-3 mb-3"> Enrollment System </h5>
                      <p class="card-text text-justify">This is final database project to design and create database back-end functionality and front end  for student enrollment system by using Oracle Database.</p> 
                      <div class="text-info font-weight-bold">
                        <ul class="card-project-list">
                          <li class="card-li-project">PLSQL</li>
                          <li class="card-li-project">JAVAFX</li>
                        </ul>
                      </div>
                    </div>
                    
                </div>

               
                

              </div>
              
            </div>
            
          <!-- End card -->
        </div>
    </div>
<% } %> 