<!-- File Name: services.ejs
   Name: Sorada Prathan
   Student ID: 301270677
   Date: February 02, 2023
 -->

<!-- Service Content section -->
<% if (title == "Services") { %> 
    <div class="container">
        <div class=" text-center">
            <h1 class="anima mx-auto d-block"><span class="title-text"><%= title %></span></h1>
                  <!-- Start card -->
          <div class="container mt-2">
            <div class="row">
              <div class="col-md-3 col-lg-4 item">
                <div class="card item-card card-block">
                <h4 class="card-title text-right"><i class="fa-sharp fa-solid fa-gear"></i></h4>
              <img class="img-project" src="/Assets\images/service1.png" alt="Service1">
                  <h5 class="card-title mt-3 mb-3 ">Web Development</h5>
                  <p class="card-text text-justify"> Full stack wen application development using MEAN or MERN stack.</p> 
            </div>
              </div>

              <div class="col-md-3 col-lg-4 item">
                <div class="card item-card card-block">
                <h4 class="item-card-title text-right"><i class="fa-sharp fa-solid fa-gear"></i></h4>
              <img class="img-project" src="/Assets\images/service2.png" alt="Service2">
                  <h5 class="card-title mt-3 mb-3 ">General Programming</h5>
                  <p class="card-text text-justify">Programming language Java, C#, MATLAB, and Python.</p> 
            </div>
              </div>



              <div class="col-md-3 col-lg-4 item">
                <div class="card item-card card-block">
                <h4 class="item-card-title text-right"><i class="fa-sharp fa-solid fa-gear"></i></h4>
              <img class="img-project" src="/Assets\images/service3.png" alt="Service3">
                  <h5 class="card-title  mt-3 mb-3">Software Development</h5>
                  <p class="card-text text-justify">Software system analysis, design, and Software Development Life Cycle (SDLC)</p> 
                </div>
              </div>               
              

            </div>
            
          </div>
          
        <!-- End card -->
        </div>
    </div>
<% } %> 